.header {
  background: #fff;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.05);
  border-top: 5px solid #ff7500;
  padding: 16px 0;
}
.header-conteiner {
  display: flex;
  align-items: center;
}
.logo {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-right: auto;
}
nav {
  margin-right: 32px;
}

.logo-text {
  color: #252420;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 32px;

  font-weight: 700;
}
.nav-list {
  display: flex;
  align-items: center;
  gap: 32px;
  color: #000;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.hero {
  background: #252420;
  padding: 40px 0;
}
.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero-text {
  width: 100%;
  max-width: 387px;
}
.line {
  width: 80px;
  height: 3px;
  background: #ff7500;
  border: none;
  margin-bottom: 40px;
}
.hero-title {
  color: #fff;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 48px */
  letter-spacing: 0.5px;
  margin-bottom: 24px;
}
.hero-deck {
  color: #fff;
  font-family: "Roboto" sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  letter-spacing: 0.5px;
  margin-bottom: 32px;
}
.hero-img {
  margin-bottom: -110px;
}
.asos {
  padding: 250px 0;
  background: #fff;
}
.asos-container {
  align-items: center;
  justify-content: space-between;
}
.a-div {
  width: 300px;
}
.img-asos {
  width: 100px;
  height: 100px;
  margin-bottom: 32px;
}
.asos-title {
  width: 500px;
  color: #000;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 86.4px */
  letter-spacing: 0.5px;
  margin-bottom: 150px;
}
span {
  color: #000;
  font-family: Roboto Condensed;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 28.8px */
  letter-spacing: 0.5px;
  margin-bottom: 400px;
}
asos-text {
  color: #000;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%; /* 24px */
  letter-spacing: 0.5px;
  margin-bottom: 32px;
}

.b-div {
  width: 300px;
}
.c-div {
  width: 300px;
}
.div-kata {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.paski {
  /* width: 1100px; */
}
.paski-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 1200px;
  background-color: #000;
}
.paski-title {
  width: 500px;

  color: #fff;
  font-family: " Roboto Condensed" sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 48px */
  letter-spacing: 0.5px;
  margin-top: 64px;
  margin-bottom: 24px;
}
.a-1 {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  letter-spacing: 0.5px;
  width: 440px;
  margin-bottom: 12px;
}
.a-2 {
  color: rgb(255, 255, 255);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  letter-spacing: 0.5px;
  width: 440px;
  margin-bottom: 24px;
}
.cpan {
  color: #ff7500;
  font-family: "Roboto", sans-serif;
  font-size: 16px;

  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.5px;
}
.paski-yozuvi {
  width: 100%;
  max-width: 387px;
}
.img-paski {
  margin-top: -85px;
  margin-bottom: 64px;
}
.footer {
  margin-top: 200px;
  background-color: #dbd7d7c3;
}
.footer-container {
  display: flex;
}
.footer-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer-item {
  color: #252420;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  width: 274px;
}
.logo1 {
  display: flex;
  align-items: center;
  gap: 12px;
}
.line1 {
  width: 1100px;
  height: 2px;
  background: #a4a4a4;
  border: none;
  margin-top: 10px;
  margin-right: auto;
}
.iconlar {
  display: flex;
  gap: 16px;
  align-items: center;
}
.as {
  display: flex;
  width: 1100px;
  justify-content: space-between;
  align-items: center;
}
.footer-container {
  display: flex;
  flex-direction: column;
}
.dack {
  display: flex;
  margin-bottom: 50px;
}
.line1 {
  width: 1100px;
  margin-top: 200px;
  background: rgba(37, 36, 32, 0.5);
  height: 2px;
  flex-shrink: 0;
  margin-bottom: 100px;
}
.hero-img1 {
  border-radius: 8px;
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
  box-shadow: 24px 24px 0px 0px rgba(255, 117, 0, 0.6);
}
